# Preparing Mexico Data

In [1]:
import pandas as pd

In [ ]:
# Load CSV files into DataFrames
df1 = pd.read_csv("data/mexico-real-estate-1.csv")
df2 = pd.read_csv("data/mexico-real-estate-2.csv")
df3 = pd.read_csv("data/mexico-real-estate-3.csv")

# Print object type and shape for DataFrames
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
print()
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
print()
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)

In [ ]:
# Print df1 shape
df1.shape

# Print df1 info -- the data is seen to have missing data in the lat and lon column
df1.info()

# Get output of df1 head -- price_usd is read as a string instead of as a float

df1.head(2)

In [ ]:
# Drop null values from df1
df1.dropna(inplace = True)

# Clean "price_usd" column in df1 
df1["price_usd"] = (
    df1["price_usd"]
    .str.replace("$", "", regex=True)
    .str.replace(",", "")
    .astype(float)
)

# Print object type, shape, and head
print("df1 type:", type(df1))
print("df1 shape:", df1.shape)
df1.head(10)

In [ ]:
df1.info()

In [ ]:
df2.head()

# Drop null values from df2
df2.dropna(inplace=True)

# Create "price_usd" column for df2 (19 pesos to the dollar in 2014)
df2["price_usd"] = (df2["price_mxn"]/19).round(2)

# Drop "price_mxn" column from df2
df2.drop(columns = ["price_mxn"])

# Print object type, shape, and head
print("df2 type:", type(df2))
print("df2 shape:", df2.shape)
df2.head()

In [ ]:
df3.shape

df3.info()

df3.head()

In [ ]:
df3.dropna(inplace = True)
df3.info()

In [ ]:
# Drop null values from df3


# Create "lat" and "lon" columns for df3
df3[["lat", "lon"]] = df3["lat-lon"].str.split(",", expand=True)

# Print object type, shape, and head
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)
df3.head()
df3.info()

In [ ]:
#df3["place_with_parent_names"].str.split("|", expand = True)
#df3["state"] = df3["place_with_parent_names"].str.split("|", expand = True)[2]
#df3.drop(columns=["place_with_parent_names", "lat-lon"], inplace=True)
#df3.head()

In [ ]:
# Create "state" column for df3
df3["state"] = df3["place_with_parent_names"].str.split("|", expand = True)[2]

# Drop "place_with_parent_names" and "lat-lon" from df3
df3.drop(columns=["place_with_parent_names", "lat-lon"], inplace=True)

# Print object type, shape, and head
print("df3 type:", type(df3))
print("df3 shape:", df3.shape)
df3.head()

In [ ]:
# Concatenate df1, df2, and df3
df = pd.concat([df1, df2, df3])
df.drop(columns = ["price_mxn"], inplace= True)
# Print object type, shape, and head
print("df type:", type(df))
print("df shape:", df.shape)
df.head()

In [ ]:
# Save df
df.to_csv("data/mexico-real-estate-clean.csv", index= False)